extends top-layout.pug
//- extends를 사용하려면 block으로 나눠서 넣어야함
block content
    header 주문 페이지 
    a(href="/") 메인으로 이동
    h2 주문서
    div#order-wrapper
        h3 주문 도서 목록
        div#book-order-wrapper
            -let list = (basketList === undefined) ? false : true;
            -let sum = 0
            -console.log(user);
            if list
                div#order-book
                    p 도서 번호
                    p 도서명
                    p 수량
                    p 가격
                -for (const i in basketList )
                    -const [basket, bookNum , bookName , bookPrice, amount] = [basketList[i].basket_num, basketList[i].book_num, basketList[i].book_name, basketList[i].book_price ,basketList[i].book_amount ]
                    div#order-book
                        p=bookNum
                        p=bookName
                        p=amount
                        -sum+=bookPrice*amount
                        p=bookPrice*amount
            else
                h1 장바구니에 추가 하세요.
            
        form#order-form(method="post")
            label 주문자 :  
            input(type="text", name="name",value=user.name) 
            br
            label 배송지 우편번호 :  
            input(type="text", name="zipCode",value=user.zip_code)
            br
            label 배송지 기본주소 :  
            input(type="text", name="addr",value=user.default_addr)
            br

            label 배송지 상세주소 :  
            input(type="text", name="detailAddr",value=user.detail_addr)
            br

            label 신용카드 번호 :  
            input(type="text", name="cardNum",value=user.card_num)
            br

            label 신용카드 유효기간 :  
            input(type="text", name="cardValidDate",value=user.card_valid_date)
            br
            label 신용카드 종류 :  
            input(type="text", name="cardType",value=user.card_type)

            br

            label 주문 총액 :
            input(type="text",name="total",value=sum)
            br
            //- p 주문 할인 금액
            //- br
            //- p 주문 최종 금액
            br
            input(type="submit",value="제출")
